$arandano: #33334d;
$arandano_claro:  #d1d1e0;

//lalalsla 
body{
    background-color: $arandano_claro;
    .jumbotron{
        background-color: rgba(255,255,255,0.0);
    }

    .container{
        position: relative;
    }
    .page{
        position: absolute;       
    }
    ng-view{
        width: 100%;
    }
}
form{
    table{
        margin: auto;
        td {
            text-align: left;
        }
        border-spacing: 5px;
        th, td {
            padding-left: 15px;
        }
    }
    margin-bottom: 30px;
}

.content{
    background-color: red;
}

h1{
    color: blue;
    font-size: 50px;
}
form{
    input{
        color: white;
    }
    select{
        color: white;
    }
}

.thelogo{
    height: 140px;
    display: block;
    margin: auto;
}
.thelogo2{
    height: 40px;
    display: block;
}

.btn-arandano{
    color: white;
    margin: auto;
    display: block;
    min-width: 200px;
    transition: 0.4s;
    &:hover {
        background-color: $arandano_claro;
        color: $arandano;
    }
    &:focus {
        color: white;
    }
}

@keyframes button{
    0% {background-color: $arandano;}
    100% {background-color: $arandano_claro;}
}


/* style.css */

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}
@keyframes fadeIn {
    from    { opacity: 0; }
    to    { opacity: 1; }
}
@keyframes fadeOut {
    from    { opacity: 1;}
    to    { opacity: 0;}
}
/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

.ng-enter           { animation: fadeIn 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: fadeOut 0.2s both ease-in; z-index: 9999; }
