 <div class="container" ng-controller="Practica as asd">

     <a href="#/"><img class="img-responsive thelogo2" src="assets/arandano.svg"></img></a>
    <!--span> {{asd.product.value}} </span>
    <span> {{5+5}} </span>
    <span> {{"This is some text"}} </span-->

    <hr>
    <h1 align="center">Encuesta</h1>
    <br>


    <form class="la_encuesta" name="encuesta.laencuesta">

        <p>Hola!, estas a punto de tener una experiencia educativa unica. Rellena el siguiente formulario, para conocer como es tu modo de aprendizaje, para comenzar a entregar contenidos personalizados.</p><p>
    Elige con un 4 la alterativa qu se seintas más identificado, ycon 1 la que menos. Rellena las opciones con el 1, 2, 3 y 4 respectivos (1 por pregunta)</p>
        <br>
    <div ng-controller="Encuesta as encuesta">
        <div ng-repeat="preg in encuesta.preguntas">
            <h4>{{ $index+1 + ') ' + preg.titulo }}</h4> 
            <table text-align="left">
                <tr>
                    <td><span>{{ preg.ec }}</span></td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_1'}}" ng-model="encuesta.respuestas[$index].ec" ng-value="1" >1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_1'}}" ng-model="encuesta.respuestas[$index].ec" ng-value="2">2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_1'}}" ng-model="encuesta.respuestas[$index].ec" ng-value="3">3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_1'}}" ng-model="encuesta.respuestas[$index].ec" ng-value="4">4
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><span>{{ preg.or }}</span></td>
                    <td>
                    
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_2'}}"
                            ng-model="encuesta.respuestas[$index].or" ng-value="1"
                            >1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_2'}}"
                            ng-model="encuesta.respuestas[$index].or" ng-value="2"
                            >2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_2'}}"
                            ng-model="encuesta.respuestas[$index].or" ng-value="3"
                            >3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_2'}}"
                            ng-model="encuesta.respuestas[$index].or" ng-value="4"
                            >4
                        </label>
                    
                    </td>
                </tr>
                <tr>
                    <td><span>{{ preg.ca }}</span></td>
                    <td>
                    
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_3'}}"
                            ng-model="encuesta.respuestas[$index].ca" ng-value="1"
                            >1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_3'}}"
 ng-model="encuesta.respuestas[$index].ca" ng-value="2"                           
                            >2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_3'}}"
                            ng-model="encuesta.respuestas[$index].ca" ng-value="3"
                            >3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_3'}}"
                            ng-model="encuesta.respuestas[$index].ca" ng-value="4"
                            >4
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><span>{{ preg.ea }}</span></td>
                    <td>

                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_4'}}"
                            ng-model="encuesta.respuestas[$index].ea" ng-value="1"
                            >1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_4'}}"
                            ng-model="encuesta.respuestas[$index].ea" ng-value="2"
                            >2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_4'}}"
                            ng-model="encuesta.respuestas[$index].ea" ng-value="3"
                            >3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_4'}}"
                            ng-model="encuesta.respuestas[$index].ea" ng-value="4"
                            >4
                        </label>
                    </td>
                </tr>
            </table>
        </div> 

    <br>
    <button class="btn" ng-click="encuesta.getResults()" >Enviar</button>
    </form>


    </div>


    
</div>
