 <div class="container" ng-controller="Practica as asd">

     <a href="#/"><img class="img-responsive thelogo2" src="assets/arandano.svg"></img></a>
    <!--span> {{asd.product.value}} </span>
    <span> {{5+5}} </span>
    <span> {{"This is some text"}} </span-->

    <hr>
    <h1 align="center">Encuesta</h1>
    <br>
    <form>
         <table >
          <tr>
            <td>Nombre</td>
            <td><input type="text" ng-model="firstname"></td>
          </tr>
          <tr>
            <td>¿Que estilo prefieres ser?</td>
            <td>
                <select ng-model="myVar">
                    <option value="Co">Convergente
                    <option value="Di">Divergente
                    <option value="As">Asimilador
                    <option value="Ac">Acomodador
                </select>
                <select ng-model="myVar2">
                    <option value="Co">Convergente
                    <option value="Di">Divergente
                    <option value="As">Asimilador
                    <option value="Ac">Acomodador
                </select>
            </td>
          </tr>
        </table> 
    </form>

    <!--h1>You entered: {{firstname}}</h1-->
    <a href="#dashboard"><button class="btn btn-lg btn-arandano" ng-show="asd.product.show">Enviar</button></a>
    
</div>
