<!DOCTYPE html>
<html ng-app="todoApp">
 
<head>
  <title>Arándano</title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" type="image/svg+xml" href="/assets/arandano2.svg">
 
    <!--script type="text/javascript" src="/lib/angular/angular.min.js"></script-->
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/lib/showdown/src/showdown.js"></script>
    <script type="text/javascript" src="/lib/angular-markdown-directive/markdown.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
</head>
 
<body>
  <div class="content">
    <ng-view class="page {{ PageClass }}"></ng-view>
  </div>
 
  <!-- Live reload script -->
  <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</body>
 
</html>
