/* Este estilo, define las 2 pantallas de log in
 * Asegurarse de colocar un div con class = "front", para
 * aplicarlo */
.front .special {
  display: block;
  margin: 0 auto;
  height: 30px; }

.front p {
  text-align: center;
  width: 100%; }

.front .wrongpass {
  display: none;
  color: red;
  text-align: center;
  margin: 0 auto; }

.front .logContainer {
  margin: 0 auto;
  width: 840px;
  margin-bottom: 40px; }
  .front .logContainer .logForm {
    display: inline-block;
    width: 400px;
    height: 200px;
    margin-left: 10px; }
  .front .logContainer h3 {
    text-align: center; }
