/* Este estilo, define las 2 pantallas de log in
 * Asegurarse de colocar un div con class = "front", para
 * aplicarlo */
@import 'https://fonts.googleapis.com/css?family=Paytone+One';
.front .special {
  display: block;
  margin: 0 auto;
  height: 30px; }

.front p {
  text-align: center;
  width: 100%; }

.front .wrongpass {
  display: none;
  color: red;
  text-align: center;
  margin: 0 auto; }

.front .logContainer {
  margin: 0 auto;
  width: 840px;
  margin-bottom: 40px; }
  .front .logContainer .logForm {
    display: inline-block;
    width: 400px;
    height: 200px;
    margin-left: 10px; }
  .front .logContainer h3 {
    text-align: center; }

#sidebar {
  position: absolute;
  height: 100vh;
  width: 400px;
  background-color: #33334d;
  top: 0;
  left: 0;
  z-index: 8000; }
  #sidebar .cont {
    color: white;
    font-size: 22px;
    margin-top: 100px;
    margin-left: 20px; }

.sidebar-collapse {
  display: none; }

.inner {
  width: 100%; }

.nav-center {
  width: 100%;
  height: 60px;
  text-align: center; }
  .nav-center img {
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block; }

.thelogo2 {
  height: 40px; }

.thelogo_sm {
  height: 35px;
  z-index: 15000;
  position: absolute; }

.dashcontent {
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  width: 80%; }

.curso {
  position: relative;
  height: 160px;
  width: 100%;
  overflow: hidden;
  color: white;
  margin-bottom: 10px; }
  .curso h3 {
    font-size: 40px;
    font-weight: bold; }
  .curso .texto {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%; }
    .curso .texto p {
      margin: 0 8px 0 8px; }
  .curso img {
    width: 100%; }

.modulo {
  height: 400px;
  width: 100px;
  background-color: blue; }

body {
  background-color: arandano_claro; }
  body .jumbotron {
    background-color: rgba(255, 255, 255, 0); }
  body .container {
    position: relative;
    width: 100%; }
  body .page {
    position: absolute; }
  body ng-view {
    width: 100%; }

/* Estilos para ciertas secciones*/
.front_page {
  clear: both; }
  .front_page .btn {
    margin-bottom: 30px; }
  .front_page form {
    margin: 0 auto;
    width: 300px; }
    .front_page form input {
      width: 100%;
      height: 40px;
      clear: both;
      margin-bottom: 10px; }

form {
  margin-bottom: 30px; }
  form input {
    margin-bottom: 5px; }
  form table {
    margin: auto;
    border-spacing: 5px; }
    form table td {
      text-align: left; }
    form table th, form table td {
      padding-left: 15px; }
  form .ng-invalid.ng-dirty {
    border-color: #FA787E; }
  form .ng-valid.ng-dirty {
    border-color: #78FA89; }

.content {
  background-color: red; }

h1 {
  color: #33334d;
  font-size: 50px;
  font-family: 'Paytone One'; }

.incompleteResp {
  display: none;
  color: red; }

.la_encuesta {
  display: block;
  max-width: 600px;
  margin: auto;
  text-align: left; }
  .la_encuesta table {
    display: block; }
    .la_encuesta table td {
      max-width: 60vw; }

.thelogo {
  height: 140px;
  display: block;
  margin: auto; }

nav {
  z-index: 500; }

.btn-arandano {
  color: white;
  margin: auto;
  display: block;
  min-width: 200px;
  transition: 0.4s;
  background: #33334d; }
  .btn-arandano:hover {
    background-color: #d1d1e0;
    color: #33334d; }
  .btn-arandano:focus {
    color: white; }

@keyframes button {
  0% {
    background-color: #33334d; }
  100% {
    background-color: #d1d1e0; } }

/* style.css */
/* ANIMATIONS
============================================================================= */
/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out; }
  40% {
    transform: rotateZ(17deg); }
  60% {
    transform: rotateZ(16deg); }
  100% {
    transform: translateY(100%) rotateZ(17deg); } }

/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

.ng-enter {
  animation: fadeIn 0.5s both ease-in;
  z-index: 8888; }

.ng-leave {
  animation: fadeOut 0.2s both ease-in;
  z-index: 9999; }
