<div>
	<a ng-click="dash.change2Cursos()">Cursos</a>
	<span> / </span> 
	<a ng-click="dash.change2Modulos()">{{dash.currCurso.nombre}}</a> 
	<span> / </span>
	{{dash.openMod.nombre_mod}}
</div>


<h2>Modulo: {{dash.openMod.nombre_mod}}</h2>
<button ng-click="dash.bloqueChangeType(0)">Adaptador</button>
<button ng-click="dash.bloqueChangeType(1)">Asimilador</button>
<button ng-click="dash.bloqueChangeType(2)">Convergente</button>
<button ng-click="dash.bloqueChangeType(3)">Divergente</button>


	<div ng-show="dash.showType[0]" class="">
		<h3>Adaptador</h3>
		<textarea markdown-editor value="{{dash.content.ad}}" ng-model="dash.content.ad">{{dash.content.ad}}</textarea>
		<div  btf-markdown="dash.content.ad"></div>
	</div>

	<div ng-show="dash.showType[1]"  class="">
		<h3>Asimilador</h3>
		<textarea markdown-editor value="{{dash.content.as}}" ng-model="dash.content.as">{{dash.content.as}}</textarea>
		<div btf-markdown="dash.content.as"></div>
	</div>

	<div ng-show="dash.showType[2]"  class="">
		<h3>Convergente</h3>
		<textarea markdown-editor value="{{dash.content.co}}" ng-model="dash.content.co">{{dash.content.co}}</textarea>
		<div btf-markdown="dash.content.co"></div>
	</div>

	<div ng-show="dash.showType[3]" class="">
		<h3>Divergente</h3>
		<textarea markdown-editor value="{{dash.content.di}}" ng-model="dash.content.di">{{dash.content.di}}</textarea>
		<div btf-markdown="dash.content.di"></div>
	</div>
	<button ng-click="dash.postBloques()">Actualizar Contenidos</button>

	<h3>Subir Archivo</h3>
		<!--form action="/files" method="post" enctype="multipart/form-data"-->
	<form enctype="multipart/form-data" method="post" ng-submit="uploadFile(file)">
	 <input type="file" ng-model="file" name="file" onchange="angular.element(this).scope().readFile(this)"/> 
	 <button type="submit" >Upload</button>
	 </form>
