
<div class="" ng-include="'partials/header.html'"></div>

    <div ng-controller="Practica as practica">
 <div class="dashcontent" >

    <div ng-controller="Dash_exp as dash" ng-init="dash.verCursos()">

    <h2>Dashboard Experto</h2>
	<div class="" ng-show="dash.shows[0]" ng-include="'partials/experto/cursos.html'"></div>
	<div class="" ng-show="dash.shows[1]" ng-include="'partials/experto/modulos.html'"></div>
	<div class="" ng-show="dash.shows[2]" ng-include="'partials/experto/add_bloque.html'"></div>



</div>
</div>
