
    <div class="curso">
 	   <a
		  style="color: white;"
		   ng-click="dash.openPerfil()">
			<div style="z-index: 1000;" class="texto">
				<h3>Hola {{dash.theStudent.nickname}}!</h3>
				<p>Tu forma de aprender es {{dash.stu.tipo}}</p>
			</div>
			<div style="height: 300px; overflow: hidden; z-index: 0;">
				<img
				style="position: absolute; top: -180px;;"   
				class="img-responsive" src={{dash.theStudent.img}}></img>
			</div>
		</a>		
	</div>			
   		

	<h1>Mis Cursos</h1>
	<br></br>
	<div ng-repeat="curso in dash.MisCursos.data">
		
		<a ng-click="dash.misopenCurso(curso.curso_id, $index)">
			
			<div class="curso">

				<div class="texto">
					<h3>{{curso.nombre}}</h3>
					<p>{{curso.descripcion}}</p>
				</div>
				<img class="img-responsive" src={{curso.imagen}}></img>
			</div>
		</a>
	</div>

	
	
	<a> <h1 ng-click="dash.openOtrosCursos()">Ver mas Cursos</h1> </a>
	<br></br>
		
	</div>

