

<div ng-include="'partials/header.html'"></div>
 <div class="container" >

    <!--span> {{asd.product.value}} </span>
    <span> {{5+5}} </span>
    <span> {{"This is some text"}} </span-->


    <div ng-controller="Dashboard as dash" ng-init="dash.loadEstudiante()">

    <h2>Dashboard</h2>
		<span>Hola {{dash.theStudent.nickname}}!</span>
        <h3>Felicidades!, eres de tipo: {{ dash.stu.tipo }}</h3>
        <p>Proximamente con contenido</p>
    </div>
	<!--	Lado izquierdo	-->
	<section id="left">
		<h2>contenido izq</h2>
	</section>
	<!--	Centro	-->
	<section id="center">
		<button class="ui button">
		  Follow
		</button>
		<div class="ui vertical menu">
		  <a class="active teal item">
		    Inbox
		    <div class="ui teal left pointing label">1</div>
		  </a>
		  <a class="item">
		    Spam
		    <div class="ui label">51</div>
		  </a>
		  <a class="item">
		    Updates
		    <div class="ui label">1</div>
		  </a>
		  <div class="item">
		    <div class="ui transparent icon input">
		      <input placeholder="Search mail..." type="text">
		      <i class="search icon"></i>
		    </div>
		  </div>
		</div>
	</section>
	<!--	Lado derecho	-->
	<section id="right">
		<h2>contenido der</h2>
	</section>

</div>
