<div>
	

	<img src="{{dash.theStudent.img}}" width="200">
	<h2> Nombre : {{dash.theStudent.nombre}}</h2>
	<h2> Nick : {{dash.theStudent.nickname}}</h2>
	<h2> E-Mail : {{dash.theStudent.email}}</h2>
	<h2> Password : <button class="arandano" ng-click="dash.goBack()">cambiar</button></h2>
	<h2> Aprendizaje : {{dash.stu.tipo}}</h2>
	<br>

</div>
<div>

	<button class="btn btn-lg btn-arandano" ng-click="dash.goBack()"> Editar perfil</button><br>
	<button class="btn btn-lg btn-arandano" ng-click="dash.goBack()"> Voler </button>

</div>