<div class="container" ng-controller="Practica as asd">

     <a href="#/"><img class="img-responsive thelogo2" src="assets/arandano.svg"></img></a>

    <hr>
    <h1 align="center">Encuesta</h1>
    <br>


    <div ng-controller="Encuesta as encuesta">


    <form class="la_encuesta" name="encuesta.laencuesta" ng-submit="encuesta.laencuesta.$valid && encuesta.submitEncuesta()" novalidate>
        <table >
            <tr>
                <td>Nombre y Apellido</td> 
                <td><input type="text" ng-model="encuesta.stu.nombre"  name="nickname" required/></td> 
            </tr>
            <tr>
                <td>Nombre Usuario</td> 
                <td><input type="text" ng-model="encuesta.stu.nickname" name="username" required/></td> 
            </tr>
            <tr>
                <td>Correo Electrónico</td> 
                <td><input type="email" ng-model="encuesta.stu.email" name="email" required/></td> 
            </tr>
            <tr>
                <td>Contraseña</td> 
                <td><input type="password" ng-model="encuesta.stu.password" name="password" required/></td> 
            </tr>
            <tr>
                <td>Repita Contraseña</td> 
                <td><input type="password"
					id="pass2"
				    ng-keyup="encuesta.checkPass()"
					ng-model="encuesta.stu.password2" name="password_r" required/></td> 
            </tr>
        </table>
		<div>La encuesta es: {{encuesta.laencuesta.$valid}}</div>

        <br>

        <p>Hola!, estas a punto de tener una experiencia educativa única. Rellena el siguiente formulario, para conocer como es tu modo de aprendizaje, para comenzar a entregar contenidos personalizados.</p><p>
    Elige con un 4 la alterativa que se sientas más identificado, y con 1 la que menos. Rellena las opciones con el 1, 2, 3 y 4 respectivos (1 por pregunta)</p>
        <br>

        <div ng-repeat="preg in encuesta.preguntas">
			<h4>{{ $index+1 + ') ' + preg.titulo }}</h4><span id="{{'incom'+$index}}" class="incompleteResp">Selecciona números diferentes para cada pregunta.</span> 
            <table text-align="left">
                <tr>
                    <td><span>{{ preg.ec }}</span></td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_1'}}" ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)" ng-model="encuesta.respuestas[$index].ec" ng-value="1" >1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_1'}}" ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)" ng-model="encuesta.respuestas[$index].ec" ng-value="2" >2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_1'}}" ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)" ng-model="encuesta.respuestas[$index].ec" ng-value="3" >3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_1'}}" ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)" ng-model="encuesta.respuestas[$index].ec" ng-value="4">4
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><span>{{ preg.or }}</span></td>
                    <td>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_2'}}"
                            ng-model="encuesta.respuestas[$index].or" ng-value="1"
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_2'}}"
                            ng-model="encuesta.respuestas[$index].or" ng-value="2"
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_2'}}"
                            ng-model="encuesta.respuestas[$index].or" ng-value="3"
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_2'}}"
                            ng-model="encuesta.respuestas[$index].or" ng-value="4"
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >4
                        </label>
                    
                    </td>
                </tr>
                <tr>
                    <td><span>{{ preg.ca }}</span></td>
                    <td>
                    
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_3'}}" ng-model="encuesta.respuestas[$index].ca" ng-value="1"
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_3'}}" ng-model="encuesta.respuestas[$index].ca" ng-value="2"                           
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_3'}}" ng-model="encuesta.respuestas[$index].ca" ng-value="3"
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_3'}}" ng-model="encuesta.respuestas[$index].ca" ng-value="4"
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >4
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><span>{{ preg.ea }}</span></td>
                    <td>

                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_4'}}" ng-model="encuesta.respuestas[$index].ea" ng-value="1"
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_4'}}" ng-model="encuesta.respuestas[$index].ea" ng-value="2"
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_4'}}" ng-model="encuesta.respuestas[$index].ea" ng-value="3"
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="{{'preg'+$index+'_4'}}" ng-model="encuesta.respuestas[$index].ea" ng-value="4"
							 ng-change="encuesta.checkResp(encuesta.respuestas[$index], $index)"
                            >4
                        </label>
                    </td>
                </tr>
            </table>
        </div> 

        <br><br>
    <button class="btn btn-lg btn-arandano" ng-click="encuesta.getResults()" >Enviar</button>
    </form>
    <br>


    </div>


    
</div>
