
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="Header as head">

        <div ng-include="head.url"></div>
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="navbar-brand" ng-click="head.toogle()">
           <img class="img-responsive thelogo_sm" src="assets/arandano2.svg"></img>
        </div>


        </div>
        <div id="navbar" class="inner navbar-collapse collapse">

			<div class="nav-center">
         <a class="" href="#/"><img class="img-responsive thelogo2" src="assets/arandano.svg"></img>
         </a>
		 </div>

        </div><!--/.nav-collapse -->
      </div>

    </nav>

