<div class="front">
<div class="jumbotron">
	<a href="#/"><img class="img-responsive thelogo" src="assets/arandano.svg"></img></a>
	<p>Acceso Especial</p>
</div>
 <div ng-controller="Login as login" class="front_page">
    <br>

	<div class="logContainer">
		<div class="logForm">
			<h3>Profesor</h3>
			<form ng-submit="login.submitLoginProfesor()">
				<input type="text" placeholder="Nombre Usuario" ng-model="login.pro.data.user" name="username"></input><br>
				<input type="password" placeholder="Contraseña" ng-model="login.pro.data.pass" name="thepass"></input><br>
				<button type="submit" class="btn btn-lg btn-arandano">Ingresar</button>
			</form>
		</div>

		<div class="logForm">
			<h3>Experto</h3>
			<form ng-submit="login.submitLoginExperto()">
				<input type="text" placeholder="Nombre Usuario" ng-model="login.exp.data.user" name="username"></input><br>
				<input type="password" placeholder="Contraseña" ng-model="login.exp.data.pass" name="thepass"></input><br>
				<button type="submit"  class="btn btn-lg btn-arandano">Ingresar</button>
			</form>
		</div>

			<div style="color: red;" ng-show="login.error.show"><p>{{login.error.m}}</p></div>
	
	</div>

    <a href='#reg' class="regBtn"><button class="btn btn-lg btn-arandano" >Registrarse</button></a>

</div>
</div>
