 <div class="container" ng-controller="Practica as asd">

     <a href="#/"><img class="img-responsive thelogo2" src="assets/arandano.svg"></img></a>

    <hr>
    <h1 align="center">Registro Profesor/Experto</h1>
    <br>


    <div ng-controller="Registro as registro">


    <form class="la_registro" name="registro.laregistro" ng-submit="registro.submitReg()" novalidate>
        <table >
			<tr>
				<td>Tipo de Usuario</td>
				<td>
				  <input type="radio" name="clase0" ng-value="0" ng-model="registro.stu.clase" > Profesor
				  <input type="radio" style="margin-left: 20px;" name="clase1" ng-value="1" ng-model="registro.stu.clase" > Experto
			  </td>
			  </tr>
            <tr>
                <td>Nombre y Apellido</td> 
                <td><input type="text" ng-model="registro.stu.nombre"  name="nickname" /></td> 
            </tr>
            <tr>
                <td>Nombre Usuario</td> 
                <td><input type="text" ng-model="registro.stu.nickname" name="username" required/></td> 
            </tr>
            <tr>
                <td>Correo Electronico</td> 
                <td><input type="email" ng-model="registro.stu.email" name="email" /></td> 
            </tr>
            <tr>
                <td>Contraseña</td> 
                <td><input type="password" 
					ng-model="registro.stu.password" name="password" required/></td> 
            </tr>
            <tr>
                <td>Repita Contraseña</td> 
                <td><input 	ng-model="registro.stu.password2" type="password" name="password_r" /></td> 
            </tr>
        </table>
		<div ng-show="registro.errMsg.show" style="color: red; text-align: center;">{{registro.errMsg.msg}}</div>
		<div ng-show="registro.errMsg.show2" style="color: red; text-align: center;">{{registro.errMsg.msg2}}</div>
		<!--div>El registro es: {{registro.laregistro.$valid}}</div-->

        <br><br>
    <button class="btn btn-lg btn-arandano" >Enviar</button>
    </form>
    <br>


    </div>


    
</div>
