<tbody>
	<tr>
		<td><strong>Características del alumno covergente</strong></td>
		<td><strong>Características del alumno divergente</strong></td>
		<td><strong>Características del alumno asimilador</strong></td>
		<td><strong>Características del alumno acomodador</strong></td>
	</tr>
	<tr>
		<td>Pragmático</td>
		<td>Sociable</td>
		<td>Poco sociable</td>
		<td>Sociable</td>
	</tr>
	<tr>
		<td>Racional</td>
		<td>Sintetiza bien</td>
		<td>Sintetiza bien</td>
		<td>Organizado</td>
	</tr>
	<tr>
		<td>Analítico</td>
		<td>Genera ideas</td>
		<td>Genera modelos</td>
		<td>Acepta retos</td>
	</tr>
	<tr>
		<td>Organizado</td>
		<td>Soñador</td>
		<td>Reflexivo</td>
		<td>Impulsivo</td>
	</tr>
	<tr>
		<td>Buen discriminador</td>
		<td>Valora la comprensión</td>
		<td>Pensador abstracto</td>
		<td>Busca objetivos</td>
	</tr>
	<tr>
		<td>Orientado a la tarea</td>
		<td>Orientado a las personas</td>
		<td>Orientado a la reflexión</td>
		<td>Orientado a la acción</td>
	</tr>
	<tr>
		<td>Disfruta aspectos técnicos</td>
		<td>Espontáneo</td>
		<td>	Disfruta la teoría</td>
		<td>Dependiente de los demás</td>
	</tr>
	<tr>
		<td>Gusta de la experimentación</td>
		<td>Disfruta el descubrimiento</td>
		<td>	Disfruta hacer teoría</td>
		<td>Poca habilidad analítica</td>
	</tr>
	<tr>
		<td>Es poco empático</td>
		<td>Empático</td>
		<td>Poco empático</td>
		<td>Empático</td>
	</tr>
	<tr>
		<td>Hermético</td>
		<td>Abierto</td>
		<td>Hermético</td>
		<td>Abierto</td>
	</tr>
	<tr>
		<td>Poco imaginativo</td>
		<td>Muy imaginativo</td>
		<td>Disfruta el diseño</td>
		<td>Asistemático</td>
	</tr>
	<tr>
		<td>Buen líder</td>
		<td>Emocional</td>
		<td>Planificador</td>
		<td>Espontáneo</td>
	</tr>
	<tr>
		<td>Insensible</td>
		<td>Flexible</td>
		<td>Poco sensible</td>
		<td>Flexible</td>
	</tr>
	<tr>
		<td>Deductivo</td>
		<td>Intuitivo</td>
		<td>Investigador</td>
		<td>Comprometido</td>
	</tr>
</tbody>