	<h1>ESTILO DE APRENDIZAJE DIVERGENTE.</h1>
	<p>Se desempeña mejor en cosas concretas (EC) y la observación reflexiva (OR). Su punto más fuerte es la capacidad imaginativa. Se destaca porque tiende a considerar situaciones concretas desde muchas perspectivas. Se califica este estilo como “divergente” porque es una persona que funciona bien en situaciones que exigen producción de ideas (como en la “lluvia de ideas”). </p>
	<h2>ESTRATEGIAS METODOLÓGICAS QUE PREFIERE</h2>
	<ul>
		<li>Lluvia de ideas.</li>
		<li>Ejercicios de simulación.</li>
		<li>Proponer nuevos enfoques a un problema.</li>
		<li>Predecir resultados.</li>
		<li>Emplear analogías.</li>
		<li>Realizar experimentos.</li>
		<li>Construir mapas conceptuales</li>
		<li>Resolver puzzles.</li>
		<li>Ensamblar rompecabezas.</li>
		<li>Adivinar acertijos.</li>
	</ul>
