	<h1>ESTILO DE APRENDIZAJE ASIMILADOR.</h1>
	<p>Predomina en esta persona la conceptualización abstracta (CA) y la observación reflexiva (OR). Su punto más fuerte lo tiene en la capacidad de crear modelos teóricos. Se caracteriza por un razonamiento inductivo y poder juntar observaciones dispares en una explicación integral. Se interesa menos por las personas que por los conceptos abstractos, y dentro de éstos prefiere lo teórico a la aplicación práctica. Suele ser un científico o un investigador.</p>
	<h2>ESTRATEGIAS METODOLÓGICAS QUE PREFIERE</h2>
	<ul>
		<li>Utilizar informes escritos.</li>
		<li>Investigaciones sobre la materia.</li>
		<li>Hacerlo tomar apuntes.</li>
		<li>Participar en debates.</li>
		<li>Asistir a conferencias.</li>
		<li>Encomendarle lectura de textos.</li>
		<li>ordenar datos de una investigación.</li>
	</ul>
