	<h1>ESTILO DE APRENDIZAJE ADAPTADOR.</h1>
	<p>Se desempeña mejor en la experiencia concreta (EC) y la experimentación activa (EA). Su punto más fuerte reside en hacer cosas e involucrarse en experiencias nuevas. Suele arriesgarse más que las personas de los otros tres estilos de aprendizaje. Se lo llama “acomodador” porque se destaca en situaciones donde hay que adaptarse a circunstancias inmediatas específicas. Es pragmático, en el sentido de descartar una teoría sobre lo que hay que hacer, si ésta no se aviene con los “hechos”. El acomodador se siente cómodo con las personas, aunque a veces se impacienta y es “atropellador”. Este tipo suele encontrarse dedicado a la política, a la docencia, a actividades técnicas o prácticas, como los negocios.</p>
	<h2>ESTRATEGIAS METODOLÓGICAS QUE PREFIERE</h2>
	<ul>
		<li>Trabajos grupales.</li>
		<li>Ejercicios de imaginería.</li>
		<li>Trabajo de expresión artística.</li>
		<li>Lectura de trozos cortos.</li>
		<li>Discusión socializada.</li>
		<li>Composiciones sobre temas puntuales.</li>
		<li>Gráficos ilustrativos sobre los contenidos.</li>
		<li>Actividades de periodismo, entrevistas.</li>
		<li>Elaborar metáforas sobre contenidos.</li>
		<li>Hacerle utilizar el ensayo y error.</li>
	</ul>
