	<h1>ESTILO DE APRENDIZAJE CONVERGENTE</h1>
	<p>Su punto más fuerte reside en la aplicación práctica de las ideas. Esta persona se desempeña mejor en las pruebas que requieren una sola respuesta o solución concreta para una pregunta o problema. Organiza sus conocimientos de manera que se pueda concretar en resolver problemas usando razonamiento hipotético deductivo. Estas personas se orientan más a las cosas que a las personas. Tienden a tener menos intereses por la materia física y se orientan a la especialización científica.
 …</p>
	<h2>ESTRATEGIAS METODOLÓGICAS QUE PREFIERE</h2>
	<ul>
		<li>Actividades manuales.</li>
		<li>Proyectos prácticos.</li>
		<li>Hacer gráficos y mapas.</li>
		<li>Clasificar información.</li>
		<li>Ejercicios de memorización.</li>
		<li>Resolución de problemas prácticos.</li>
		<li>Demostraciones prácticas.</li>
	</ul>
